@import "tailwindcss";

@layer components {
  .card {
    background-color: var(--color-orange-200);
    border-radius: var(--radius-lg);
    padding: --spacing(6);
    box-shadow: var(--shadow-xl);
  }
}
